[type=radio] {
  display: none;
}

#slider {
  height: 75vw;
  max-height: 400px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  max-width: 100%;
  width: 500px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease-in;
  border-radius: 15px;
}

.slider-image {
  max-width: 100%;
  width: 500px;
  /* Set the desired width for your images */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 15px;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  background: #ffffff;
}

.small-colored-box {
  width: 420px;
  max-width: 100%;
  height: 50px;
  margin: 8px auto;
  border-radius: 15px;
  text-align: center;
}

.small-colored-box-yellow {
  background-color: #FBAF37;
}

.small-colored-box-orange {
  background-color: #f16645;
}

.small-colored-box-pink {
  background-color: #f296a2;
}

.small-colored-box-blue {
  background-color: #4353A3;
}

.bottom-box {
  padding: 15px;
  text-align: center;
  width: 420px;
  max-width: 100%;
  min-height: 375px;
  max-height: 385px;
  border-radius: 15px;
  margin: 0 auto;
  font-family: 'Kalam', sans-serif;
  font-weight: bolder;
}

.bottom-box-yellow {
  border: 5px solid #FBAF37;
}

.bottom-box-orange {
  border: 5px solid #f16645;
}

.bottom-box-blue {
  border: 5px solid #4353A3;
}

.bottom-box-pink {
  border: 5px solid #f296a2;
}

#slider2 {
  min-height: 475px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider2 label {
  margin: auto;
  width: 450px;
  max-width: 100%;
  height: 75vh;
  max-height: 450px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease-in;
  border-radius: 15px;
}

#s12:checked~#slide42,
#s22:checked~#slide52,
#s32:checked~#slide12,
#s42:checked~#slide22,
#s52:checked~#slide32 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

#s12:checked~#slide52,
#s22:checked~#slide12,
#s32:checked~#slide22,
#s42:checked~#slide32,
#s52:checked~#slide42 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -100px);
}

#s12:checked~#slide12,
#s22:checked~#slide22,
#s32:checked~#slide32,
#s42:checked~#slide42,
#s52:checked~#slide52 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s12:checked~#slide22,
#s22:checked~#slide32,
#s32:checked~#slide42,
#s42:checked~#slide52,
#s52:checked~#slide12 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -100px);
}

#s12:checked~#slide32,
#s22:checked~#slide42,
#s32:checked~#slide52,
#s42:checked~#slide12,
#s52:checked~#slide22 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

#slide12,
#slide22,
#slide32,
#slide42,
#slide52 {
  background: #ffffff;
}