.my-btn {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.my-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.my-btn:focus {
    outline: none;
}

.my-btn:disabled {
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.my-btn:active {
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.my-btn-yellow {
    background-color: #fbaf37;
}

.my-btn-yellow:hover {
    background-color: #c98c2c;
}

.my-btn-yellow:focus {
    box-shadow: rgba(201, 140, 44, .4) 0 0 0 3px;
}

.my-btn-yellow:disabled {
    background-color: #fcbf5f;
}

.my-btn-yellow:active {
    background-color: #e29e32;
}

.my-btn-pink {
    background-color: #f296a2;
}

.my-btn-pink:hover {
    background-color: #c27882;
}

.my-btn-pink:focus {
    box-shadow: rgba(194, 120, 130, .4) 0 0 0 3px;
}

.my-btn-pink:disabled {
    background-color: #f5abb5;
}

.my-btn-pink:active {
    background-color: #da8792;
}

.my-btn-blue {
    background-color: #4353a3;
}

.my-btn-blue:hover {
    background-color: #364282;
}

.my-btn-blue:focus {
    box-shadow: rgba(54, 66, 130, .4) 0 0 0 3px;
}

.my-btn-blue:disabled {
    background-color: #6975b5;
}

.my-btn-blue:active {
    background-color: #3c4b93;
}

.my-btn-orange {
    background-color: #f16645;
}

.my-btn-orange:hover {
    background-color: #c15237;
}

.my-btn-orange:focus {
    box-shadow: rgba(193, 82, 55, .4) 0 0 0 3px;
}

.my-btn-orange:disabled {
    background-color: #f4856a;
}

.my-btn-orange:active {
    background-color: #d95c3e;
}